body
{
background-image: url('../images/tausta.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background: #323264;
font-family: Arial;
}

#page
{
	margin: 0 auto;
	width: 1000px;
	background: #96AFFF;
}

#header
{
    background-image: url('../img/banner.jpg');
    height: 150px;
    color: white;
    font-size: 60px;
    text-align: right;
    
}

#logo
{
	float: left;
	width: 120px;
	padding: 0 ;
	margin: 15px 0px 0px 15px;
	
}

#otsikko
{
	float: right;
	width: 700px;
	padding: 0;
	margin: 0px 15px 0 0;
	display: inline;
        text-shadow:5px 5px 10px white;
}

#content
{
	float: left;
	width: 1000px;

}

#leftside
{
	float: left;
	width: 170px;
	padding: 0px 0;
	margin: 0 20px;
	display: inline;
}
#menu
{
    background: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0px solid;
    font-size: 16px;
    text-align: right;
    font-weight: bold;
    }

#menu a:link {color: black; text-decoration:none;}
#menu a:visited {color:black; text-decoration:none;}
#menu a:hover {color:blue; text-decoration:underline;} 
#menu a:active {color:blue; text-decoration:none;}

#menu p
{
    margin: 0;
    padding: 10px;
}


#text
{
	float: left;
	width: 770px;
	padding: 0px 0;
	margin: 0px 0px;
        background: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0px solid;
}

#text p
{
    margin: 10px;
    font-size: 14px;
}

/*
#rightside
{
	float: right;
	width: 130px;
	padding: 20px 0;
	margin: 0 0px 0 0;
	display: inline;
}
*/

#footer
{
	clear: left;
	text-align: center;
	padding: 0px;
	height: 125px;
        color: gray;
}

#logos
{
   /* margin: 0px 200px 0px 200px;
    width: 600px;
    background: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0px solid;*/
}